<div class="jumbotron">
  <h1 class="display-4">WELCOME TO OZONE!</h1>
  <p class="lead">This the current Ozone Air Quality.</p>
  <hr class="my-4">
  <p>Hit reload in your web browser to update the reading....</p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>
