@import "../../../node_modules/bootstrap/scss/bootstrap";

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.purple {
	background-color: purple;
}
.maroon {
	background-color: maroon;
}

.gray {
	background-color: gray;
}
